.search-bar {
	margin: 0 auto;
	width: 80%;
}
.search-bar form {
	display: flex;
}
.search-bar-input {
	flex: 3;
	border-radius: 8px;
	font-size: 18px;
	margin: 5px;
	padding: 5px 10px;
}
.search-bar-btn {
	flex: 1;
	border-radius: 8px;
	font-size: 18px;
	margin: 5px;
	padding: 5px 10px;
}
.search-bar-btn-search {
	background-color: #74faa2;
}
.search-bar-btn-clear {
	background-color: #eb6a62;
}
